docutils >= 0.3
django >= 1.2, < 1.3
django-extensions
http://github.com/clintecker/django-google-analytics/tarball/master
django-staticfiles
PIL # required for ImageField
python-dateutil
python-memcached
pytz
south > 0.7
